@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');

$mobile-breakpoint: 375px;

//COLORS
$desaturated-dark-cyan: hsl(180, 29%, 50%);
$background-light-grayish-cyan: hsl(180, 52%, 96%);
$light-grayish-cyan: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

//TYPOGRAPHY
$body-font-size: 15px;
$font-normal-weight: 500;
$font-bold-weight: 700;

//MIXINS
@mixin flex ($justify, $align, $direction: row, $gap: auto) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

@mixin selected-items($border-radius: 4px){
    color: $desaturated-dark-cyan;
    background-color: rgba(136, 124, 124, 0.1);
    font-weight: $font-normal-weight;
    padding: .6rem;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all ease-in .15s;

    &:hover{
        background-color: $desaturated-dark-cyan;
        color: $light-grayish-cyan;
    }
}

//REUSABLE CLASS(ES).
.flex-row-normal{
    @include flex(space-between, center, row, .9rem);

    @media screen and (max-width: 920px) {
        flex-wrap: wrap;
        row-gap: .9rem;
        align-self: center;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: $body-font-size;
}

.container{
    width: min(100vw, 100%);
    min-height: 100vh;
    background-color: $background-light-grayish-cyan;
    position: relative;
}

header{
    $size: 4.5rem;
    width: 100%;
    height: $size;
    background-image: url(./Assets/bg-header-desktop.svg);
    background-color: $dark-grayish-cyan;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 375px) {
        background-image: url(./Assets/bg-header-mobile.svg);
    }
}

.search{
    background-color: $light-grayish-cyan;
    color: $desaturated-dark-cyan;
    text-align: center;
    width: clamp(200px, 100%, 530px);
    height: min(37vh, 100%);
    padding: 2rem;
    border-radius: .6rem;
    margin: -2.9rem auto 2rem;

    @media screen and (max-width: 600px) {
        border-radius: 0;
    }

    form{
        @include flex(center, center, row, .8rem);
        flex-wrap: wrap;

    input{
        background-color: $desaturated-dark-cyan;
        color: $light-grayish-cyan;
        border: 0;
        border-radius: 2px;
        height: 1.4rem;
        width: 70%;
        padding: 1rem .5rem;
        font-size: 17px;
        outline: 0;

        &::placeholder, &:focus{
            color: $light-grayish-cyan;
            font-weight: 400;
        }
        } 
    }

    .selected{
        @include flex(center, center, row, 2.3rem);
        margin: 1rem 0;
        padding: 1rem 2rem;
        flex-wrap: wrap;
        &_items{
            /* top left, top right, bottom right, bottom left */

            position: relative;
            @include selected-items(4px 0 0px 4px);
            &:hover::after{
                background-color: $light-grayish-cyan;
                content: url(./Assets/icon-remove-green.svg);
            }
            &::after{
                position: absolute;
                content: url(./Assets/icon-remove.svg);
                background-color: $desaturated-dark-cyan;
                right: -1.7rem;
                top: 0;
                bottom: 0;
                // height: 100%;
                padding: .4rem;
                @include flex(center, center, row, auto);
            }
        }
    }
}


.list{
    padding: 4rem 3rem 3rem; 
    @include flex(center, center, column, 4.2rem);
    &_job{
        @include flex(space-between, center, row, auto);
        width: clamp(200px, 92%, 800px);
        height: 100%;
        padding: 1.6rem 2.4rem;
        border-radius: 4px;
        background-color: $light-grayish-cyan;
        box-shadow: 2px 4px .9rem rgba(2, 39, 34, 0.4);
        transition: all ease-in .3s;

        @media screen and (max-width: 920px) {
            flex-wrap: wrap;
            row-gap: 2.4rem;
        }

        &_details{
            @include flex(space-around, center, row, 1.25rem);

            img{
                width: 50px;
            }

            .company{
                @include flex(space-between, flex-start, column, 1rem);

                &-details{

                    $padding: .4rem .6rem;
                    $border-radius: 15px;

                    &_new{
                        background-color: $desaturated-dark-cyan;
                        color: $light-grayish-cyan;
                        padding: $padding;
                        border-radius: $border-radius;
                    }

                    &_name{
                        color: $desaturated-dark-cyan;
                        font-weight: $font-normal-weight;
                    }

                    &_featured{
                        background-color: $very-dark-grayish-cyan;
                        color: $light-grayish-cyan;
                        border-radius: $border-radius;
                        padding: $padding;
                    }
                }

                &_position{
                    font-weight: $font-bold-weight;
                }

                &_timeline{
                    opacity: .56;
                }
            }
        }

        &_levels{
            &>div{
                @include selected-items();  
            }
        }
        
    }
}